.main-header {
    @include centerItems;
    justify-content: space-between;
    padding: 20px;
    .logo-container {
        align-self: flex-start;
    }
    .user-ss-snapshot {
        @include centerItems;
        gap: 5px;
        h2 {
            font-size: 0.9rem;
        }
    }
    .github {
        color: rgb(181, 181, 181);
        transition-duration: 200ms;
        &:hover {
            color: rgb(136, 136, 136);
        }
        .icon {
            font-size: 1.1rem;
        }
    }
}
