$main-color: #e79a8d;
$main-font-color: rgb(24, 24, 24);
$other-users-message-background-color: #d6d8dc9a;
$current-user-message-background-color: $main-color;
$current-user-text-color: white;
$send-icon-color: #615E7E;
$antenna-minor-pole-color: rgb(204, 204, 204);
$antenna-major-pole-color: rgb(135, 135, 135);
$antenna-pointer-color: $main-color;
$message-sent-time-color: rgb(169, 177, 179);
$message-icons-color: rgba(182, 191, 196, 0.878);
$message-select-image-hover-color: rgb(182, 191, 196);
$loading-electron-first-color: $antenna-major-pole-color;
$loading-electron-second-color: $antenna-minor-pole-color;
$user-ss-color: $antenna-major-pole-color;